In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

#Passing a dict of lists. Each key represents one coolumn, and the values(lists) are each column's values
df = DataFrame (
    {'product_id':[23, 96, 97, 15, 87],
     'name':['computer','Python Workout','Pandas Workout','banana','sandwich'],
     'wholesale_price':[500, 35, 35, 0.5, 3.0],
     'retail_price':[1000, 75, 75, 1, 5],
     'sales':[100, 1000, 500, 200, 300]
     },index = list('01234'))
#list of dicts
new_products= DataFrame(
    [{'product_id':24, 'name':'phone', 'wholesale_price':200, 'retail_price':500},
     {'product_id':16, 'name':'apple', 'wholesale_price':0.5, 'retail_price':1},
   {'product_id':17, 'name':'pear', 'wholesale_price':0.6, 'retail_price':1.2} ],index=range(5,8))

df=pd.concat([df,new_products])
df.loc[[5,6,7], 'sales']=[100, 200, 75]

df.loc[8,['product_id','name', 'wholesale_price','retail_price','sales' ]]=[44, 'wallet', 10, 20, 50]
df['department']=['electronics', 'books', 'books', 'food', 'food', 'electronics', 'food', 'food', 'others']

df['total_sales']= (df['retail_price']-df['wholesale_price'])*df['sales']

df['descriptive_stats']= ''
food_stats= df[df['department']=='food']['total_sales'].describe()# in the department column where the product is 'food' give me descriptive statistics in the total sales column

food_stats_str=food_stats.to_string()#all descriptive statistics come initially as floats, this line converts all of them to strings to integrate them to the descriptive stats column created initially
df.loc[df['department']=='food', 'descriptive_stats']=food_stats_str

df['current_net']=df['total_sales'].cumsum()#the cumulative sum of each total sales
df.loc['Total']=df[['wholesale_price', 'retail_price', 'sales', 'total_sales']].sum()
df.loc['Total']=df.loc['Total'].fillna('')
df

<ipython-input-8-fa8c3be0743a>:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc['Total']=df.loc['Total'].fillna('')
<ipython-input-8-fa8c3be0743a>:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc['Total']=df.loc['Total'].fillna('')

,product_id,name,wholesale_price,retail_price,sales,department,total_sales,descriptive_stats,current_net
0,23.0,computer,500.0,1000.0,100.0,electronics,50000.0,,50000.0
1,96.0,Python Workout,35.0,75.0,1000.0,books,40000.0,,90000.0
2,97.0,Pandas Workout,35.0,75.0,500.0,books,20000.0,,110000.0
3,15.0,banana,0.5,1.0,200.0,food,100.0,count 4.00000\nmean 211.25000\nstd ...,110100.0
4,87.0,sandwich,3.0,5.0,300.0,food,600.0,count 4.00000\nmean 211.25000\nstd ...,110700.0
5,24.0,phone,200.0,500.0,100.0,electronics,30000.0,,140700.0
6,16.0,apple,0.5,1.0,200.0,food,100.0,count 4.00000\nmean 211.25000\nstd ...,140800.0
7,17.0,pear,0.6,1.2,75.0,food,45.0,count 4.00000\nmean 211.25000\nstd ...,140845.0
8,44.0,wallet,10.0,20.0,50.0,others,500.0,,141345.0
Total,,,784.6,1678.2,2525.0,,141345.0,,