In [17]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

trip_distance=pd.read_csv('/content/taxi-distance.csv',header=None).squeeze()
passenger_count=pd.read_csv('/content/taxi-passenger-count.csv',header=None).squeeze()
df=DataFrame({'trip_distance':trip_distance,
              'passenger_count':passenger_count})
iqr=(df['trip_distance'].quantile(0.75)-df['trip_distance'].quantile(0.25))
df[df['trip_distance']<df['trip_distance'].quantile(0.25)-1.5*iqr]
df[df['trip_distance']>df['trip_distance'].quantile(0.75)+1.5*iqr]
outlier_trips=df[df['trip_distance']>df['trip_distance'].quantile(0.75)+1.5*iqr]
mean_passenger_count_outlier=outlier_trips['passenger_count']
mean_passenger_count_outlier
#df

7       4
60      1
73      1
82      3
88      2
       ..
9975    1
9976    1
9979    1
9980    1
9982    1
Name: passenger_count, Length: 1219, dtype: int64