In [7]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

#df=DataFrame(
    #np.random.randint(0,121,[3, 4]),
    #columns= list('abcd'),
    #index= list('xyz'))

#Passing a dict of lists. Each key represents one coolumn, and the values(lists) are each column's values
df = DataFrame (
    {'product_id':[23, 96, 97, 15, 87],
     'name':['computer','Python Workout','Pandas Workout','banana','sandwich'],
     'wholesale_price':[500, 35, 35, 0.5, 3.0],
     'retail_price':[1000, 75, 75, 1, 5],
     'sales':[100, 1000, 500, 200, 300]
     },
      index = list('01234'))
#df['wholesale_price']=df['wholesale_price'].astype(int)# we are trying to convert the column data type to an integer
df['net_sales']=df['retail_price']-df[('wholesale_price')]
df['total_sales']=df['net_sales']*df['sales']

df['profitable']= np.where(df['retail_price']>(2*df['wholesale_price']), df['name'], '-')#for what products is the retail price twice the wholesale price ?

df.loc['0', 'comparison']=(df.loc['0','net_sales'])
df.loc['3','comparison']=(df.loc[['3','4'],'net_sales'].sum())
df.loc['1', 'comparison']=(df.loc[['1','2'], 'net_sales'].sum())
df['comparison']=df['comparison'].fillna(0)
df.loc['Total']=df[['total_sales','net_sales','sales','retail_price','wholesale_price','comparison']].sum()
df.loc['Total']=df.loc['Total'].fillna('')# here we are replacing all the empty cells with nothing

#let's suppose we have negociated a 30% reduction on the wholesale price, let's calculate the new net income
df['new_net_sales']=df['retail_price']-(df['wholesale_price']*(1-0.3))

#df.sort_values(by='total_sales', ascending=False)
df
#Passing a list of dictionnaries. Each dict represents one row and the keys indicate which columns should be filled
  #df = DataFrame ([
    #{'a':10, 'b':20, 'c':30, 'd':40},
    #{'a':50, 'b':60, 'c':70, 'd':80},
    #{'a':90, 'b':100, 'c':110, 'd':120}],
    #index = list ('xyz'))
#Passing a list of lists. Each inner list represent one row. The inner lists must all be the same lenght  and fill the columns positionally
  #df = DataFrame ([
    #[10, 20, 30, 40],
    #[50, 60, 70, 80],
    #[90, 100, 110, 120]],
    #index = list('xyz'),
    #columns = list('abcd'))

<ipython-input-7-1df28ec5ca00>:30: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc['Total']=df.loc['Total'].fillna('')# here we are replacing all the empty cells with nothing

,product_id,name,wholesale_price,retail_price,sales,net_sales,total_sales,profitable,comparison,new_net_sales
0,23.0,computer,500.0,1000.0,100.0,500.0,50000.0,-,500.0,650.00
1,96.0,Python Workout,35.0,75.0,1000.0,40.0,40000.0,Python Workout,80.0,50.50
2,97.0,Pandas Workout,35.0,75.0,500.0,40.0,20000.0,Pandas Workout,0.0,50.50
3,15.0,banana,0.5,1.0,200.0,0.5,100.0,-,2.5,0.65
4,87.0,sandwich,3.0,5.0,300.0,2.0,600.0,-,0.0,2.90
Total,,,573.5,1156.0,2100.0,582.5,110700.0,,582.5,754.55